{% extends 'base.html' %}
{% block content %}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form method="post" action="{% url 'cart:coupon' %}">
							{% csrf_token %}
								
        						<input type="text" class="form-control" name="coupon" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
								
							</form>
            			</div><!-- End .checkout-discount -->
            			<form method="post">
							{% csrf_token %}
		                	<div class="row">
		                		<div class="col-lg-9">
									<div class="row">
										<div class="col-lg-6">
											<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
											{% for billing in billings %}
												
												<div class="card card-dashboard">
													<div class="card-body">
														<div class="form-check">
															<input class="form-check-input" type="radio"  name="billing" value="{{billing.id}}" checked required>
															<label class="form-check-label ml-3" for="defaultCheck1">
																Slelect
															</label>
														</div>
														<h3 class="card-title">Billing Address : {{billing.get_address_type_display}}</h3><!-- End .card-title -->

														<p>Full Name : {{billing.full_name}}<br>
														Phone : {{billing.phone}}<br>
														City : {{billing.city}}<br>
														Area : {{billing.area}}<br>
														Address : {{billing.address}}<br>
														address Type : {{billing.get_address_type_display}}<br>
														<a href="{% url 'accounts:billing_update' id=billing.id %}">Edit <i class="icon-edit"></i></a></p>
													</div><!-- End .card-body -->
												</div><!-- End .card-dashboard -->
											{% endfor %}
											<a href="{% url 'accounts:shipping' %}">Add Billing Address <i class="icon-edit"></i></a></p>
										</div><!-- End .col-lg-6 -->

										<div class="col-lg-6">
											<h2 class="checkout-title">Shipping Details</h2><!-- End .checkout-title -->
											{% for shipping in shippings %}
												<div class="card card-dashboard">
													<div class="card-body">
														<div class="form-check">
															<input class="form-check-input" type="radio"  name="shipping" value="{{shipping.id}}" checked required>
															<label class="form-check-label ml-3" for="defaultCheck1">
																Slelect
															</label>
														</div>
														<h3 class="card-title">Shipping Address : {{shipping.get_address_type_display}}</h3><!-- End .card-title -->

														<p>Full Name : {{shipping.full_name}}<br>
														Phone : {{shipping.phone}}<br>
														City : {{shipping.city}}<br>
														Area : {{shipping.area}}<br>
														Address : {{shipping.address}}<br>
														address Type : {{shipping.get_address_type_display}}<br>
														<a href="{% url 'accounts:shipping_update' id=shipping.id %}">Edit <i class="icon-edit"></i></a></p>
													</div><!-- End .card-body -->
												</div><!-- End .card-dashboard -->
											{% endfor %}
											<a href="{% url 'accounts:shipping' %}">Add Billing Address <i class="icon-edit"></i></a></p>
										</div><!-- End .col-lg-6 -->
									</div>
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												{% for item in items %}
		                						<tr>
		                							<td><a href="#">{{item.product.title}}</a></td>
		                							<td>${{item.get_total}}</td>
		                						</tr>
												{% endfor %}
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>${{order.get_cart_total}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Delevary Charge:</td>
		                							<td>{{order.delevary_charge}}</td>
		                						</tr>
												<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
												{% if order.coupon_discount %}
												<tr>
		                							<td>Discount Coupon:</td>
		                							<td>- {{order.coupon_discount.ammount}}</td>
		                						</tr>
												{% endif %}
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>${{order.get_cart_total_with_delevary_and_coupon}}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    
										        
											<div class="form-check">
												<input class="form-check-input" type="radio"  name="payment" value="cash" checked required>
												<label class="form-check-label ml-3" for="defaultCheck1">
													Cash On Delivery
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"  name="payment" value="bkash" required>
												<label class="form-check-label ml-3" for="defaultCheck1">
													Bkash 
												</label>
												<div class="col-xs-2">
													<input style="width: 90%" name="t_id" type="text" class="form-control input-normal" placeholder="Transation id">
												</div>
											</div>									    
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock content %}
