{% extends 'base.html' %}
        {% block content %}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Name : {{user.first_name}} {{user.last_name}}</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="{% url 'accounts:logout' %}">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark">{{user.username}}</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<div class="row">
											<div class="col-md-6 col-lg-6 col-sm-6">
											<h3>Proccesing Order </h3>
											{% if confirm_orders %}
											<div class="list-group">
												{% for order in confirm_orders %}
												<a href="" class="list-group-item list-group-item-action">Order ID : {{order.id}} - Items : {{order.get_item_total}}   - ammount : {{order.get_cart_total}}. More....</a>
												{% endfor %}
											</div>
											{% else %}
											<p>No order has been made yet.</p>
											{% endif %}
											</div>

											<div class="col-md-6 col-lg-6 col-sm-6">
											<h3>Complete Order</h3>
											{% if complete_orders %}
											<div class="list-group">
												{% for order in complete_orders %}
												<a href="" class="list-group-item list-group-item-action">Order ID : {{order.id}} - Items : {{order.get_item_total}}   - ammount : {{order.get_cart_total}}. More....</a>
												{% endfor %}
											</div>
											{% else %}
											<p>No order has been Complete yet.</p>
											{% endif %}
											</div>
										</div>
										
										
								    	<a href="{% url 'product:home' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
								    		<div class="col-lg-6">
											{% for billing in billing_address %}
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

														<p>Full Name : {{billing.full_name}}<br>
														Phone : {{billing.phone}}<br>
														City : {{billing.city}}<br>
														Area : {{billing.area}}<br>
														Address : {{billing.address}}<br>
														address Type : {{billing.get_address_type_display}}<br>
														<a href="{% url 'accounts:billing_update' id=billing.id %}">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
											{% endfor %}
								    		<a href="{% url 'accounts:billing' %}">Add Billing Address <i class="icon-edit"></i></a></p>
											</div><!-- End .col-lg-6 -->

								    		<div class="col-lg-6">
								    			{% for shipping in shipping_address %}
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

														<p>Full Name : {{shipping.full_name}}<br>
														Phone : {{shipping.phone}}<br>
														City : {{shipping.city}}<br>
														Area : {{shipping.area}}<br>
														Address : {{shipping.address}}<br>
														address Type : {{shipping.get_address_type_display}}<br>
														<a href="{% url 'accounts:shipping_update' id=shipping.id %}">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
											{% endfor %}
								    		<a href="{% url 'accounts:shipping' %}">Add Shipping Address <i class="icon-edit"></i></a></p>
								    		</div><!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form method="post">
											{% csrf_token %}
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" name="first_name" value={{user.first_name}} required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" class="form-control" name="last_name" value="{{user.last_name}}" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>User Name *</label>
		            						<input type="text" class="form-control" name="username" value="{{user.username}}" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

		                					<label>Email address *</label>
		        							<input type="email" class="form-control" name="email" value="{{user.email}}" required>

											<label>Phone *</label>
		        							<input type="text" class="form-control" name="phone" value="{{profile.phone}}" required>

											<label>Address *</label>
		        							<input type="text" class="form-control" name="address" value="{{profile.address}}" required>

		            						

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
											<a href="{% url 'accounts:change_password' %}" class="btn btn-outline-primary-2">
			                					<span>Change Your Password</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</a>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock content %}