{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        * {
            box-sizing: border-box;
        }
        table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        padding: 6px 26px;
        }

        th, td {
        text-align: center;
        }
        
        
        .ship {
            flex: 50%;

        }
        .bill {
            flex: 0 0 auto;
            width: 800px;
        }

        
    </style>
  </head>
  <body>  
        <div class="row">
            <h3>Order ID : {{order.id}} </h3>
            <h3>User : {{order.user}} </h3>
            <h3>Product List</h3>

            <table class="table">
                <thead>
                    <tr>
                    <th>Product Name</th>
                    <th>price</th>
                    <th>Quantity</th>
                    <th>total price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.product.title}}</td>
                        <td>{{item.product.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.get_total}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <td></td>
                        <td></td>
                        <th>{{order.get_cart_total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <div class="row">
        <div class="ship">
        <h2>Shipping Address</h2>
                <h6>full_name : {{order.shipping_address.full_name}}</h6>
                <h6>Phone : {{order.shipping_address.phone}}</h6>
                <h6>City : {{order.shipping_address.city}}</h6>
                <h6>Area : {{order.shipping_address.area}}</h6>
                <h6>Address : {{order.shipping_address.address}}</h6>
                <h6>Address type : {{order.shipping_address.get_address_type_display}}</h6>
        </div>
        <div class="bill">
        <h2>Billing Address</h2>
                <h6>full_name : {{order.billing_address.full_name}}</h6>
                <h6>Phone : {{order.billing_address.phone}}</h6>
                <h6>City : {{order.billing_address.city}}</h6>
                <h6>Area : {{order.billing_address.area}}</h6>
                <h6>Address : {{order.billing_address.address}}</h6>
                <h6>Address type : {{order.billing_address.get_address_type_display}}</h6>
        </div>
        <div class="pay">
            <h2>Payment Method</h2>
            {% for pay in payment %}
                <h6>Payment method name  : {{pay.name}}</h6>
                {% if pay.trans_id %}
                    <h6>Transation id  : {{pay.trans_id}}</h6>
                {% endif %}
            {% endfor %}
        </div>
        <div class="status">
            <h2>Order Status</h2>
            {% if order.confirm_order and order.complete_order %}
                <h6>Complete</h6> 
            {% elif order.confirm_order %}
                    <h6>Confirm</h6> 
            {% endif %} 
        </div>
    </div>
    
  </body>
</html>